@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* font-family: 'Rubik', sans-serif;*/

:root {
    --clr-prime-light-red-work: hsl(15, 100%, 70%);
    --clr-prime-soft-blue-play: hsl(195, 74%, 62%);
    --clr-prime-light-red-study: hsl(348, 100%, 68%);
    --clr-prime-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-prime-voilet-social : hsl(264, 64%, 52%);
    --clr-prime-soft-orange :  hsl(43, 84%, 65%);
  
    --clr-neutral-very-dark-blue : hsl(226, 43%, 10%);
    --clr-neutral-dark-blue : hsl(235, 46%, 20%);
    --clr-neutral-desaturated-blue : hsl(235, 45%, 61%);
    --clr-neutral-pale-blue : hsl(236, 100%, 87%);

    --ff-primary: 'Rubik', sans-serif;
  
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
  
  }

 /* Box sizing rules */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* font sizing */
 html {
   font-size: 62.5%;
 }

 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 figure,
 blockquote,
 dl,
 dd {
   margin: 0;
 }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
   
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  body {
    font-family: var(--ff-primary);
      background-color: var(--clr-neutral-very-dark-blue);
      color: white;

      display: grid;
      place-items: center;
      padding: 1rem;
      min-height: 100vh;
    }


    
  /* utilities */

  body {
    
    align-items: center;
    justify-content: center;
    margin: 3rem;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vh, 2rem);
  }

  .card > div{
    
    border-radius: 1.6rem;
   
  }

  .card-avatar {
    
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-neutral-dark-blue);
  }

  .card-avatar-top {
    background-color: var(--clr-prime-voilet-social);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: clamp(2rem,3vw ,3rem);

    padding: clamp(2rem, 5vw ,3rem);
  }

  .card-avatar img {
    width: 10rem;
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 50%;
  }

  .card-avatar-top h1 {
    font-size: 2.4rem;
    font-weight: 300;
  }

  .card-avatar-top h1 span {
    font-size: 1.8rem;
    line-height: 1rem;
    font-weight: var(--fw-300);
    color: var(--clr-neutral-pale-blue);
  }

  .card-avatar-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 2rem;
  }

  .btn {
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--clr-neutral-pale-blue);
    cursor: pointer;
    flex: 1 1 100%;
    transition: all 0.3s ease ;
  }
  
  .btn:where(.active , :hover) {
    color: white;
    font-weight: 500;
  }

  .timecard { 
    border-radius: 2rem ;
    
  }

  .container-timecards {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: clamp(1rem, 3rem, 2rem);
    justify-content: center;
    
  }

  .timecard-bg {
    position: relative;
    padding-top: 7rem;
    overflow: hidden;
    
  }

  .card-icon {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
  }


  .timecard-top {
    position: relative;
    background-color: var(--clr-neutral-dark-blue);
    padding: 1.8rem 2rem;
    border-radius: 1.6rem;
    
  }

  .timecard-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .timecard-title h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .timecard-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .current {
    font-size: 4.2rem;
    font-weight: 300;
  }

  .previous {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--clr-neutral-pale-blue);
  }

  .dot-btn {
    color: var(--clr-neutral-pale-blue);
    cursor: pointer;
    transition: all .3s ease;
  }

  .dot-btn:hover {
    color: var(--clr-prime-voilet-social);
  }


  .timecard-work {
    background-color: var(--clr-prime-light-red-work);
  }

  .timecard-play {
    background-color: var(--clr-prime-soft-blue-play);
  }

  .timecard-study {
    background-color: var(--clr-prime-light-red-study);
  }

  .timecard-exercise {
    background-color: var(--clr-prime-lime-green-exercise);
  }

  .timecard-social {
    background-color: var(--clr-prime-voilet-social);
  }

  .timecard-self {
    background-color: var(--clr-prime-soft-orange);
  }


@media screen and (min-width:1156px) {
  .container {
    flex-direction: row;
    max-width: 1024px;
  }

  .card-avatar {
    width: 256px;
    height: 520px;
  }

  .container-timecards {
    width: 768px;
    height: 520px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .timecard-bg {
    height: 256px;
    width: 256px;
    padding-top: 5rem;
  }

  .timecard-top {
    height: 100%;
    padding: 3rem 3rem;
  }

  .timecard-time {
    flex-direction: column;
    align-items: flex-start;
  }

  .current {
    font-size: 5.6rem;
  }

  .top-section {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .bot-section {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
}